@import "bootstrap/dist/css/bootstrap.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "SUSE", sans-serif;
}

body {
  background-color: hsl(0 0% 14%);
  color: hsl(210 18% 96%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 18px;
}

section {
  background-color: hsl(0 0% 16%) !important;
  padding-bottom: 15px;
}

.animated-title {
  animation: fadeIn 3s ease-in-out;
}

.header {
  background-color: hsl(0 0% 10%) !important;
}

.logout {
  color: hsl(210 14% 72%) !important;
}

.logout:hover {
  color: hsl(180 100% 80%) !important;
}

.shared-read {
  background-color: rgb(255, 128, 223) !important;
  display: inline-block !important;
  width: 0.5rem !important;
  height: 0.5rem !important;
  border-radius: 9999px !important;
}

.shared-write {
  background-color: rgb(128, 255, 255) !important;
  display: inline-block !important;
  width: 0.5rem !important;
  height: 0.5rem !important;
  border-radius: 9999px !important;
}

.text-cyan {
  color: rgb(128, 255, 255) !important;
}

.text-pink {
  color: rgb(255, 128, 223) !important;
}

select option {
  background-color: hsl(0 0% 12%) !important;
  color: hsl(210 18% 96%) !important;
}

.modalInfo-header {
  background-color: hsl(0 0% 10%) !important;
}

.modalInfo-title {
  color: hsl(210 18% 96%) !important;
}

.modalInfo-body {
  background-color: hsl(0 0% 14%) !important;
  color: hsl(210 18% 96%) !important;
}

.modal-header .btn-close {
  filter: invert(1) !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .animated-title {
    font-size: 1.5rem;
    height: auto;
  }
}
