@import "bootstrap/dist/css/bootstrap.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "SUSE", sans-serif;
}

body {
  background-color: #6E5C62;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 18px;
}

.animated-title {
  animation: fadeIn 3s ease-in-out;
}

.header {
  background-color: #312B2D !important;
}

.logout {
  color: #C7C8C9 !important;
}

.logout:hover {
  color: #B7AEB4 !important;
}

.modalInfo-header {
  background-color: #312B2D !important;
}

.modalInfo-title {
   color: #f5f5f5 !important;
}

.modalInfo-body {
  background-color: #6E5C62 !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .animated-title {
    font-size: 1.5rem;
    height: auto;
  }
}
