@import "bootstrap/dist/css/bootstrap.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "SUSE", sans-serif;
}

body {
  background-color: hsl(0 0% 11%);
  color: hsl(210 18% 96%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 18px;
}

.animated-title {
  animation: fadeIn 3s ease-in-out;
}

.header {
  background-color: hsl(0 0% 12%) !important;
}

.logout {
  color: hsl(210 14% 72%) !important;
}

.logout:hover {
  color: hsl(180 100% 80%) !important;
}

.modalInfo-header {
  background-color: hsl(0 0% 12%) !important;
}

.modalInfo-title {
  color: hsl(210 18% 96%) !important;
}

.modalInfo-body {
  background-color: hsl(0 0% 8% 30%) !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .animated-title {
    font-size: 1.5rem;
    height: auto;
  }
}
